{
   "db": {
      "database": "",
      "host": "",
      "user": "",
      "password": ""
   },
   "iexToken": "",
   "auth": {
      "google": {
         "authClientIdExpoIos": "",
         "authClientIdStandaloneIos": "",
         "authClientIdExpoAndroid": "",
         "authClientIdStandaloneAndroid": ""
      }
   }
}
